body {
    background-color: #fafbfc !important;
}

.page-content {
    margin-top: 60px;
}

.table-hover tbody tr:hover td {
    background: #edfaff;
    cursor: pointer;
}

div.grid-scroll {
    height: 200px;
    overflow-y: scroll;
}