{{template "toast" .}}
<tbody id="searchResult">
{{$customers := index .Data "customers"}}
{{$size := len $customers}}
{{$pageNum := index .IntMap "pageNum"}}
{{$page := index .StringMap "page"}}
{{$filter := index .StringMap "filter"}}
{{range $customers}}
    {{template "customer-row" .}}
{{end}}

{{if ge $size 20}}
    {{template "pagination" .}}
{{end}}
</tbody>
<script>
    document.querySelector('.grid-scroll').scrollTop=0;
</script>