{{template "base" .}}

{{define "css"}}

{{end}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="d-flex mt-3 mb-2">
            <h5 class="me-auto">Manage Customers</h5>
            <button class="btn btn-sm btn-primary">&nbsp;&nbsp;New&nbsp;&nbsp;</button>
        </div>
    </div>
</div>
{{end}}

{{define "js"}}

{{end}}